@charset "utf-8";
/*

  - Very Frankensteinian 

*/
.block {
	display: block;
}
/* .container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
} */

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  position: absolute;
}


h1 {
	font-size: 3rem;
	color: #fff;
}

main {
	width: 100%;
	height: 100svh;
	justify-content: center;
	align-items: center;
}

.game-area {
	width: 500px;
	height: 600px;
	justify-content: center;
	align-items: center;
}

.guess-counter {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

input {
	outline: none;
	border: none;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	line-height: 150px;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.accuracy {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

button {
	border: none;
  outline: none;
  background: none;
  box-shadow: none;
	margin: 10px;
	border-radius: 15px;
  font-size: 1.6rem;
  color: #fff;
	text-align: center;
	padding: 10px 15px;
	background-color: #9d6;
}

.number-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.number-display {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}
.arrow {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.arrow:active {
  color: #007bff;
}